name: dt

x-common: &common
  restart: always

x-apps:
  traefik: &traefik
    <<: *common
    image: traefik
    ports:
      - 80:80
      - 443:443
      - 8080:8080
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedByDefault=false"
      - "--api.insecure=true"
      - "--log.level=DEBUG"
      - "--entrypoints.web.address=:80"
      - '--entrypoints.websecure.address=:443'
      - "--serverstransport.insecureskipverify=true"
      - '--entrypoints.web.http.redirections.entryPoint.to=websecure'
      - '--certificatesresolvers.default.acme.httpchallenge.entrypoint=web'
      - '--certificatesresolvers.default.acme.tlsChallenge=true'
      - '--certificatesresolvers.default.acme.storage=/data/acme.json'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - traefik:/data
    labels:
      "traefik.enable": "true"
      "traefik.http.routers.traefik.entrypoints": websecure
      "traefik.http.routers.traefik.rule": "Host(`traefik.${DOMAIN}`)"
      "traefik.http.routers.traefik.tls.certresolver": "default"
      "traefik.http.services.traefik.loadbalancer.server.port": "8080"
      traefik.http.routers.traefik.middlewares: login@docker


  login: &login
    <<: *common
    image: login
    build: ./apps/login
    environment:
      DOMAIN: ${DOMAIN}
      PASSWORD: ${PASSWORD:-password}
    labels:
      traefik.enable: true
      traefik.http.routers.login.rule: PathPrefix(`/__login`)
      traefik.http.routers.login.priority: 1000
      traefik.http.routers.login.entrypoints: websecure
      traefik.http.routers.login.tls.certresolver: default
      traefik.http.middlewares.login.forwardauth.address: http://login:3000/__login/q

  sonarr: &sonarr
    <<: *common
    image: lscr.io/linuxserver/sonarr
    volumes:
      - sonarr:/config
      - media:/data
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ:-Europe/London}
    labels:
      "traefik.enable": "true"
      "traefik.http.routers.sonarr.entrypoints": websecure
      "traefik.http.routers.sonarr.rule": "Host(`sonarr.${DOMAIN}`)"
      "traefik.http.routers.sonarr.tls.certresolver": "default"
      traefik.http.routers.sonarr.middlewares: login@docker

  radarr: &radarr
    <<: *common
    image: lscr.io/linuxserver/radarr
    volumes:
      - radarr:/config
      - media:/data
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ:-Europe/London}
    labels:
      "traefik.enable": "true"
      "traefik.http.routers.radarr.entrypoints": websecure
      "traefik.http.routers.radarr.rule": "Host(`radarr.${DOMAIN}`)"
      "traefik.http.routers.radarr.tls.certresolver": "default"
      traefik.http.routers.radarr.middlewares: login@docker

  plex: &plex
    <<: *common
    image: lscr.io/linuxserver/plex
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=docker
    volumes:
      - plex:/config
      - media:/data

  transmission: &transmission
    <<: *common
    image: lscr.io/linuxserver/transmission
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ:-Europe/London}
      - USER=${USERNAME:-user}
      - PASS=${PASSWORD:-password}
    labels:
      "traefik.enable": "true"
      "traefik.http.routers.transmission.entrypoints": websecure
      "traefik.http.routers.transmission.rule": "Host(`transmission.${DOMAIN}`)"
      "traefik.http.routers.transmission.tls.certresolver": "default"
      traefik.http.routers.transmission.middlewares: login@docker
    volumes:
      - transmission:/config
      - media:/data

  prowlarr: &prowlarr
      <<: *common
      image: lscr.io/linuxserver/prowlarr
      volumes:
        - prowlarr:/config
      environment:
        - PUID=1000
        - PGID=1000
        - TZ=${TZ:-Europe/London}
      labels:
        "traefik.enable": "true"
        "traefik.http.routers.prowlarr.entrypoints": websecure
        "traefik.http.routers.prowlarr.rule": "Host(`prowlarr.${DOMAIN}`)"
        "traefik.http.routers.prowlarr.tls.certresolver": "default"
        traefik.http.routers.prowlarr.middlewares: login@docker

  readarr: &readarr
    <<: *common
    image: "lscr.io/linuxserver/readarr:develop"
    volumes:
      - readarr:/config
      - media:/data
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ:-Europe/London}
    labels:
      "traefik.enable": "true"
      "traefik.http.routers.readarr.entrypoints": websecure
      "traefik.http.routers.readarr.rule": "Host(`readarr.${DOMAIN}`)"
      "traefik.http.routers.readarr.tls.certresolver": "default"
      traefik.http.routers.readarr.middlewares: login@docker

  samba: &samba
    <<: *common
    image: dperson/samba
    environment:
      - USERID=1000
      - GROUPID=1000
      - TZ=${TZ:-Europe/London}
    command: -u "${USERNAME:-user};${PASSWORD:-password}" -s "files;/data;yes;no;no"
    ports:
      - 139:139
      - 445:445
    volumes:
      - media:/data

  wireguard: &wireguard
    <<: *common
    environment:
      - LANG=en
      - WG_HOST=wireguard.fredriklowenhamn.se
        #      - PASSWORD_HASH="${PASSOWRD_HASH}"
      - INSECURE=true
      - PORT=51821
      - WG_PORT=51820
      - WG_DEFAULT_DNS=8.8.8.8

    image: ghcr.io/wg-easy/wg-easy:latest
    container_name: wg-easy
    volumes:
      - wireguard:/etc/wireguard
    ports:
      - "51820:51820/udp"
    #  - "51821:51821/tcp"
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    labels:
      "traefik.enable": "true"
      "traefik.http.routers.wireguard.entrypoints": websecure
      "traefik.http.routers.wireguard.rule": "Host(`wireguard.${DOMAIN}`)"
      "traefik.http.routers.wireguard.tls.certresolver": "default"
      "traefik.http.services.wireguard.loadbalancer.server.port": "51821"
      "traefik.http.routers.wireguard.middlewares": login@docker

  heimdall: &heimdall
    <<: *common
    image: lscr.io/linuxserver/heimdall:latest
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ:-Europe/London}
    volumes:
      - heimdall:/config
    labels:
      "traefik.enable": "true"
      "traefik.http.routers.heimdall.entrypoints": websecure
      "traefik.http.routers.heimdall.rule": "Host(`${DOMAIN}`)"
      "traefik.http.routers.heimdall.tls.certresolver": "default"
      "traefik.http.services.heimdall.loadbalancer.server.port": "80"
      "traefik.http.routers.heimdall.middlewares": login@docker

  jellyfin: &jellyfin
    <<: *common
    image: lscr.io/linuxserver/jellyfin:latest
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ:-Europe/London}
    volumes:
      - jellyfin:/config
      - media:/data
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
      - /dev/dri/card0:/dev/dri/card0
    labels:
      "traefik.enable": "true"
      "traefik.http.routers.jellyfin.entrypoints": websecure
      "traefik.http.routers.jellyfin.rule": "Host(`jellyfin.${DOMAIN}`)"
      "traefik.http.routers.jellyfin.tls.certresolver": "default"
      "traefik.http.services.jellyfin.loadbalancer.server.port": "8096"

  netbootxyz: &netbootxyz
    <<: *common
    image: lscr.io/linuxserver/netbootxyz:latest
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - netbootxyz:/config
    ports:
      - 69:69/udp
    labels:
      "traefik.enable": "true"
      "traefik.http.routers.netbootxyz.entrypoints": websecure
      "traefik.http.routers.netbootxyz.rule": "Host(`netbootxyz.${DOMAIN}`)"
      "traefik.http.routers.netbootxyz.tls.certresolver": "default"
      "traefik.http.services.netbootxyz.loadbalancer.server.port": "3000"

  n8n: &n8n
    <<: *common
    image: docker.n8n.io/n8nio/n8n
    environment:
      - GENERIC_TIMEZONE="Europe/Stockholm"
      - TZ="Europe/Stockholm"
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_RUNNERS_ENABLED=true
    volumes:
      - n8n:/home/node/.n8n
    labels:
      "traefik.enable": "true"
      "traefik.http.routers.n8n.entrypoints": websecure
      "traefik.http.routers.n8n.rule": "Host(`n8n.${DOMAIN}`)"
      "traefik.http.routers.n8n.tls.certresolver": "default"
      "traefik.http.services.n8n.loadbalancer.server.port": "5678"
      "traefik.http.routers.n8n.middlewares": login@docker

  dev: &dev
    <<: *common
    image: lscr.io/linuxserver/openssh-server:latest
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - SUDO_ACCESS=true #optional
      - PUBLIC_KEY=${PUBLICKEY:-key}
      - USER_NAME=${USERNAME:-user}
      - LOG_STDOUT=true
    volumes:
      - dev:/config
    ports:
      - 2222:2222
    labels:
      "traefik.enable": "true"
      "traefik.tcp.routers.dev.entrypoints": websecure
      "traefik.tcp.routers.dev.rule": "HostSNI(`dev.${DOMAIN}`)"
      "traefik.tcp.routers.dev.tls.certresolver": "default"
      "traefik.tcp.services.dev.loadbalancer.server.port": "2222"


  convex-backend: &convex-backend
    <<: *common
    image: ghcr.io/get-convex/convex-backend:latest
    volumes:
      - convex:/convex/data
    environment:
      - CONVEX_CLOUD_ORIGIN=${CONVEX_CLOUD_ORIGIN:-http://127.0.0.1:${PORT:-3210}}
      - CONVEX_SITE_ORIGIN=${CONVEX_SITE_ORIGIN:-http://127.0.0.1:${SITE_PROXY_PORT:-3211}}

    healthcheck:
      test: curl -f http://localhost:3210/version
      interval: 5s
      start_period: 10s

    labels:
      "traefik.enable": "true"
      "traefik.http.routers.convex-backend-public.entrypoints": websecure
      "traefik.http.routers.convex-backend-public.rule": "Host(`convex.${DOMAIN}`)"
      "traefik.http.routers.convex-backend-public.tls.certresolver": "default"
      "traefik.http.services.convex-backend-public.loadbalancer.server.port": "3211"
      "traefik.http.routers.convex-backend-public.service": "convex-backend-public"
      "traefik.http.routers.convex-backend-api.entrypoints": websecure
      "traefik.http.routers.convex-backend-api.rule": "Host(`convex-api.${DOMAIN}`)"
      "traefik.http.routers.convex-backend-api.tls.certresolver": "default"
      "traefik.http.services.convex-backend-api.loadbalancer.server.port": "3210"
      "traefik.http.routers.convex-backend-api.service": "convex-backend-api"

  convex-dashboard: &convex-dashboard
    <<: *common
    image: ghcr.io/get-convex/convex-dashboard:latest
    environment:
      - NEXT_PUBLIC_DEPLOYMENT_URL=${NEXT_PUBLIC_DEPLOYMENT_URL:-http://127.0.0.1:${PORT:-3210}}
#        - NEXT_PUBLIC_LOAD_MONACO_INTERNALLY
    depends_on:
      convex-backend:
        condition: service_healthy
    labels:
      "traefik.enable": "true"
      "traefik.http.routers.convex-dashboard.entrypoints": websecure
      "traefik.http.routers.convex-dashboard.rule": "Host(`convex-dashboard.${DOMAIN}`)"
      "traefik.http.routers.convex-dashboard.tls.certresolver": "default"
      "traefik.http.services.convex-dashboard.loadbalancer.server.port": "6791"
      "traefik.http.routers.convex-dashboard.middlewares": login@docker

volumes:
  traefik:
  media:
  plex:
  sonarr:
  transmission:
  prowlarr:
  readarr:
  radarr:
  wireguard:
  heimdall:
  jellyfin:
  netbootxyz:
  n8n:
  dev:
  convex:

services:
  traefik: *traefik
  login: *login
  plex: *plex
  sonarr: *sonarr
  transmission: *transmission
  prowlarr: *prowlarr
  readarr: *readarr
  samba: *samba
  radarr: *radarr
  wireguard: *wireguard
  heimdall: *heimdall
  jellyfin: *jellyfin
  n8n: *n8n
  dev: *dev
  convex-backend: *convex-backend
  convex-dashboard: *convex-dashboard
